$colour-secondary: #E92569;
$colour-text: #767676;

$colour-primary: #efefef;

$theme-colors: (
  "primary": $colour-primary,
  "dark": $colour-primary,
);

$font-family-base: "Lato", serif;
$headings-font-family: "Playfair Display", serif;
$headings-color: $colour-secondary;

$body-bg: $colour-primary;
$body-color: $colour-text;

@import "~bootstrap/scss/bootstrap";

@import "./partials/nav";
@import "./partials/homeLayout";
@import "./partials/newsStyle";
@import "./partials/contactStyle";