.row{
    background-color: #efefef;
}

.form-check-input{
    background-color: #E92569;
    border: none;
}

.btn-primary{
    background-color: #767676;
    border-radius: 0.25rem;
    width: 100%;
}

.fa-envelope{
    padding: 15px;
    font-size: 20px;
}
.fa-phone{
    padding: 15px;
    font-size: 20px;
}
.fa-map-marker-alt{
    padding: 15px;
    font-size: 20px;
}