h1 {
    color: white;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.3);
}

h3 {
    margin-top: 3rem;
}

.heading-p {
    color: white;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.3);
}

.background {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}